:host() {
  overflow: hidden;
}

section {
  overflow-y: auto;
  height: 100%;
}

.form-sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.row-cols {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.col-lg-4,
.col-md-12 {
  flex: 1 1 300px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-title,
.mb-3 {
  margin-top: auto;
}

.card-img-top {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
