<section>
  <div class="formSearch form-sticky w-100 mt-3">
    <app-search class="d-flex w-100 justify-content-center" (searchChange)="submit($event)"></app-search>
  </div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
      <app-card
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let productRef of prod$ | async"
        [product]="productRef"></app-card>
    </div>
  </div>
</section>
