<section>
  <div class="formSearch d-flex justify-content-center w-100 mt-3">
    <form class="d-flex flex-shrink-1 col-12 col-sm-4 col-md-4 col-lg-2 m-1 m-sm-0" role="search">
      <input class="form-control" type="search" placeholder="Search Product" aria-label="Search" />
    </form>
  </div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
      <app-card
        class="col-lg-4 col-md-12 mb-4"
        *ngFor="let productRef of prod$ | async"
        [product]="productRef"
        role="button"></app-card>
    </div>
  </div>
</section>
