<div class="slider">
  <div class="sliderControles" *ngIf="slides.length > 1">
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
  <div class="dotsContainer" *ngIf="showDots()">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
      [ngStyle]="{ color: currentSlideForDot(slideIndex) }">
      ●
    </div>
  </div>
</div>
