@import '../../styles.css';

.notification {
  height: 83.7vh;
  width: 100%;
  font-size: 80px;
  font-weight: 900;
  background-color: var(--body-bgc);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
