.admin-container {
  display: flex;
  height: 100vh; /* Растягиваем контейнер на всю высоту экрана */
}

.admin-sidebar {
  background-color: #2570bb; /* Цвет фона панели админа */
  width: 200px; /* Ширина панели админа */
  overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
}

.admin-content {
  flex-grow: 1; /* Растягиваем контент, чтобы занять все доступное пространство */
  padding: 20px; /* Отступ контента внутри правой области */
  overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
}
