<div class="admin-container h-100">
  <div class="admin-sidebar h-100">
    <!-- <button class="buttonsAdmin" (click)="setActiveBlock('add')" [class.active]="activeBlock === 'add'">Add</button>
    <button class="buttonsAdmin"(click)="setActiveBlock('delete')" [class.active]="activeBlock === 'delete'">Delete</button> -->
    <button class="buttonsAdmin">Add</button>
    <button class="buttonsAdmin">Delete</button>
  </div>
  <div class="admin-content">
    <!-- <form class="d-flex flex-column align-items-center active" #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)" *ngIf="showForm && activeBlock === 'add'">
      <div class="p-4">
        <div class="mb-3 d-flex align-items-center">
          <label for="categoryAdmForm">Category:</label>
          <input
            [(ngModel)]="formData.category"
            type="text"
            placeholder="Jordan*"
            class="form-control ms-2"
            id="category"
            name="categoryAdmForm"
            required />
        </div>
        <div class="mb-3 d-flex align-items-center">
          <label for="titleAdmForm">Product name:</label>
          <input
            [(ngModel)]="formData.title"
            type="text"
            placeholder="AIR JORDAN 1 MID*"
            class="form-control ms-2"
            name="title"
            id="titleAdmForm"
            required />
        </div>
        <div class="mb-3 d-flex align-items-center">
          <label for="descriptionAdmForm">Description:</label>
          <input
            [(ngModel)]="formData.description"
            type="text"
            placeholder="The Air Jordan 1 Mid brings full-court style...*"
            class="form-control ms-2"
            name="description"
            id="descriptionAdmForm"
            required />
        </div>

        <div class="priceSitting">
          <div class="mb-3 d-flex align-items-center">
            <label for="currencyAdmForm">Currency:</label>
            <select
              [(ngModel)]="formData.currency"
              id="currencyAdmForm"
              class="form-control ms-3"
              name="currency"
              required>
              <option value="USD" selected>USD</option>
              <option value="EUR">EUR</option>
              <option value="UAH">UAH</option>
            </select>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label for="priceAdmForm">Price:</label>
            <input
              [(ngModel)]="formData.price"
              type="text"
              inputmode="numeric"
              placeholder="7.42*"
              class="form-control ms-3"
              name="price"
              pattern="\d+(\.\d{1,2})?"
              id="priceAdmForm"
              required />
          </div>
        </div>
        <div class="colorSetting">
          <div class="mb-3 d-flex align-items-center">
            <label for="colorNameAdmForm">Name Color:</label>
            <input
              [(ngModel)]="formData.color.name"
              type="text"
              placeholder="White*"
              class="form-control ms-3"
              id="colorNameAdmForm"
              name="colorName" />
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label for="hexNameAdmForm">HEX:</label>
            <input
              [(ngModel)]="formData.color.hex"
              type="text"
              placeholder="#FFFFFF*"
              class="form-control ms-3"
              name="colorHex"
              id="hexNameAdmForm"
              pattern="#[0-9A-Fa-f]{6}"
              required />
          </div>
        </div>
        <div class="mb-3 sizeBox">
          <h5 class="mb-0">Sizes:</h5>
          <div class="form-check">
            <input [(ngModel)]="size8" class="form-check-input" type="checkbox" value="8" name="size[]" />
            <label class="form-check-label">8</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size9" class="form-check-input" type="checkbox" value="9" name="sizes[]" />
            <label class="form-check-label">9</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size10" class="form-check-input" type="checkbox" value="10" name="sizes[]" />
            <label class="form-check-label">10</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size11" class="form-check-input" type="checkbox" value="11" name="sizes[]" />
            <label class="form-check-label">11</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size12" class="form-check-input" type="checkbox" value="12" name="sizes[]" />
            <label class="form-check-label">12</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size13" class="form-check-input" type="checkbox" value="13" name="sizes[]" />
            <label class="form-check-label">13</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size14" class="form-check-input" type="checkbox" value="14" name="sizes[]" />
            <label class="form-check-label">14</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size15" class="form-check-input" type="checkbox" value="15" name="sizes[]" />
            <label class="form-check-label">15</label>
          </div>
        </div>
        <div class="imgNewBox mb-4 d-flex align-items-center">
          <p>Add pictures:</p>
          <div class="mb-3 ms-3">
            <label for="fileInput" class="btn-input">Select files</label>
            <input
              class="file-input"
              id="fileInput"
              type="file"
              multiple
              (change)="onFileInputChange($event)"
              required />
            <span class="ms-3" *ngIf="selectedFiles.length > 0">{{ selectedFiles.length }} file(s) selected</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-primary btnAdd">Add</button>
      </div>
    </form> -->

    <!-- <section class="d-flex w-100" *ngIf="!showForm && activeBlock === 'delete'"> -->
    <section class="d-flex w-100 deleteMainBox flex-column">
      <div class="searcBox w-100 d-flex flex-column align-items-center text-center">
        <h5 class="mb-4">What product do you want to delete?</h5>
        <app-search class="seaerchProd w-100" (searchChange)="submitSearch($event)"></app-search>
      </div>
      <div class="boxProduct d-flex" *ngIf="searchValue.trim() !== ''">
        <div class="d-flex">
          <ng-container *ngIf="prod$ | async as products">
            <div
              *ngFor="let productRef of products"
              class="productItem"
              [hidden]="!productRef.title.toLowerCase().includes(searchValue.toLowerCase())">
              <p>{{ productRef.title }}</p>
            </div>
            <p *ngIf="products.length === 0">No matching products found.</p>
          </ng-container>
        </div>
      </div>
    </section>
  </div>
</div>
