<div class="admin-container h-100">
  <div class="admin-sidebar h-100">
    <button class="buttonsAdmin">Главна</button>
    <button class="buttonsAdmin">Добавить</button>
    <button class="buttonsAdmin">Удалить</button>
  </div>
  <div class="admin-content">
    <!-- <router-outlet></router-outlet> -->
    <form class="d-flex flex-column align-items-center" #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
      <div class="address">
        <div class="mb-3 d-flex align-items-center">
          <label for="categoryAdmForm">Категория:</label>
          <input
            [(ngModel)]="formData.category"
            type="text"
            placeholder="Категория: Jordan*"
            class="form-control ms-2"
            id="category"
            name="categoryAdmForm" />
        </div>
        <div class="mb-3 d-flex align-items-center">
          <label for="titleAdmForm">Название:</label>
          <input
            [(ngModel)]="formData.title"
            type="text"
            placeholder="Название Товара"
            class="form-control ms-2"
            name="title"
            id="titleAdmForm" />
        </div>
        <div class="mb-3 d-flex align-items-center">
          <label for="subtitleAdmForm">Описание:</label>
          <input
            [(ngModel)]="formData.subtitle"
            type="text"
            placeholder="Краткое Описание - Тег"
            class="form-control ms-2"
            name="subtitle"
            id="subtitleAdmForm" />
        </div>

        <div class="priceSitting">
          <div class="mb-3">
            <select [(ngModel)]="formData.currency" id="currencyAdmForm" class="form-control" name="currency">
              <option value="" disabled selected>Выберите валюту</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="UAH">UAH</option>
            </select>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label for="priceAdmForm">Цена:</label>
            <input
              [(ngModel)]="formData.price"
              type="number"
              placeholder="Цена: 7.42*"
              class="form-control ms-3"
              name="price"
              pattern="\d+(\.\d{1,2})?"
              id="priceAdmForm" />
          </div>
        </div>
        <div class="colorSetting">
          <div class="mb-3 d-flex align-items-center">
            <label for="colorNameAdmForm">Имя:</label>
            <input
              [(ngModel)]="formData.color.name"
              type="text"
              placeholder="Color Name"
              class="form-control ms-3"
              id="colorNameAdmForm"
              name="colorName" />
          </div>
          <div class="mb-3 d-flex align-items-center">
            <label for="hexNameAdmForm">HEX:</label>
            <input
              [(ngModel)]="formData.color.hex"
              type="text"
              placeholder="111111*"
              class="form-control ms-3"
              name="colorHex"
              id="hexNameAdmForm" />
          </div>
        </div>
        <div class="mb-3 sizeBox">
          <h5 class="">Размеры</h5>
          <div class="form-check">
            <input [(ngModel)]="size8" class="form-check-input" type="checkbox" value="8" name="size[]" />
            <label class="form-check-label">8</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size9" class="form-check-input" type="checkbox" value="9" name="sizes[]" />
            <label class="form-check-label">9</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size10" class="form-check-input" type="checkbox" value="10" name="sizes[]" />
            <label class="form-check-label">10</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size11" class="form-check-input" type="checkbox" value="11" name="sizes[]" />
            <label class="form-check-label">11</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size12" class="form-check-input" type="checkbox" value="12" name="sizes[]" />
            <label class="form-check-label">12</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size13" class="form-check-input" type="checkbox" value="13" name="sizes[]" />
            <label class="form-check-label">13</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size14" class="form-check-input" type="checkbox" value="14" name="sizes[]" />
            <label class="form-check-label">14</label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="size15" class="form-check-input" type="checkbox" value="15" name="sizes[]" />
            <label class="form-check-label">15</label>
          </div>
        </div>
        <div class="imgNewBox mb-4 d-flex align-items-center">
          <p>Добавте картинки:</p>
          <div class="mb-3 ms-3">
            <label for="fileInput" class="btn-input">Выбрать файлы</label>
            <input class="file-input" id="fileInput" type="file" multiple (change)="onFileInputChange($event)" />
            <span class="ms-3" *ngIf="selectedFiles.length > 0">{{ selectedFiles.length }} файл(ов) выбрано</span>
          </div>
        </div>
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-primary">Добавить</button>
      </div>
    </form>
  </div>
</div>
