<span
  ><b>CONTACT INFORMATION</b>
  <br />
  <input type="text" placeholder="EMAIL" />
  <br />
  <input type="checkbox" /> EMAIL ME WITH NEWS AND OFFERS
  <br />
  <select name="user_profile_color_1">
    <option value="Ukraine">Ukraine</option>
    <option value="USA">USA</option>
    <option value="Germany">Germany</option>
    <option value="Spain">Spain</option>
    <option value="Italy">Italy</option>
    <option value="Poland">Poland</option>
  </select>
  <input type="text" placeholder="FIRST NAME" />
  <br />
  <input type="text" placeholder="LAST NAME" />
  <br />
  <input type="text" placeholder="STREET AND HOUSE NUMBER" />
  <br />
  <input type="text" placeholder="ADDITIONAL ADDRESS (OPTIONAL)" />
  <br />
  <input type="text" placeholder="POSTAL CODE" />
  <br />
  <input type="text" placeholder="CITY" />
  <br />
  <input type="text" placeholder="PHONE" />
  <br />
  <input type="checkbox" /> SAVE THIS INFORMATION FOR NEXT TIME
  <br />
  <button></button>
  <br />
  <button></button>
</span>
