@media (max-width: 310px) {
  :host {
    min-height: calc(100vh - 125px - 50px);
  }
}
@media (min-width: 311px) {
  :host {
    min-height: calc(100vh - 75.6px - 50px);
  }
}

.address {
  height: 110vh;
  width: 44vw;
  border-right: 1px rgb(240, 239, 239) solid;
  margin-left: 14vw;
}

.contact {
  font-size: 12px;
  margin-bottom: 3vh;
}

.email {
  font-size: 12px;
  width: 38vw;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 2vh;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  color: #333;
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-right: 10px;
}

.checkbox-custom:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 0px;
  transition: background-color 0.3s ease;
  z-index: -1;
}

.checkbox-input:checked ~ .checkbox-custom:before {
  background-color: #333;
}

.checkbox-custom:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 8px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.checkbox-input:checked ~ .checkbox-custom:after {
  opacity: 1;
}

.ship {
  font-size: 12px;
  margin-bottom: 0.5vh;
}

.input {
  font-size: 14px;
  width: 38vw;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin-bottom: 2.7vh;
}

.country {
  width: 38vw;
  height: 5.5vh;
  margin-bottom: 2vh;
}

.continue {
  width: 38vw;
  height: 5.5vh;
  border: #000000 solid 1px;
  background-color: #000000;
  border-radius: 0px;
  font-size: 12px;
  color: white;
  margin-bottom: 2.7vh;
  font-weight: bold;
}

.back {
  width: 38vw;
  height: 5.5vh;
  border: #000000 solid 1px;
  background-color: #ffffff;
  border-radius: 0px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
