@import '../../../styles.css';

.spanWrap {
  position: absolute;
  top: 10vh;
  margin-left: 2vw;
}

.prices {
  margin-top: 3vh;
  border-top: 1px solid var(--cart-borders);
  width: 23vw;
}

.subtotal {
  font-size: 13px;
}

.shipping {
  margin-top: 1.2vh;
  font-size: 13px;
  border-bottom: 1px solid var(--cart-borders);
}

.total {
  margin-top: 1.2vh;
  font-size: 14px;
  color: var(--font-color);
}

.shippingSpan {
  right: 230px;
  top: 1;
  float: right;
  color: var(--font-color);
}

.subtotalSpan {
  font-size: 16px;
  right: 230px;
  float: right;
  color: var(--font-color);
}

.senc {
  font-size: 16px;
  color: var(--font-color);
}

.item {
  box-sizing: border-box;
  margin-bottom: 2vh;
  width: 150%;
  height: 17vh;
}

.itemImg {
  width: 17%;
  height: 100%;
  vertical-align: top;
  float: left;
}

.itemName {
  margin-left: 1vw;
  font-weight: 600;
  color: var(--font-color);
}

.itemPrice {
  font-weight: 400;
  margin-left: 1vw;
  font-size: 14px;
  color: var(--font-color);
}

.itemSize {
  font-weight: 400;
  margin-left: 1vw;
  font-size: 14px;
  color: var(--font-color);
}

.deleteProd {
  margin-left: 1vw;
  color: #800000;
  cursor: pointer;
}

.amtBtn {
  margin-left: 1vw;
  width: 1.8vw;
  height: 1.8vw;
  border: 1px solid var(--border-color);
  background-color: var(--body-bcg);
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
}

.amtBtn:hover {
  background-color: rgb(241, 237, 237);
}

.btns {
  display: flex;
  flex-wrap: nowrap;
}
