:root {
  --body-bgc: white;
  --font-color: #333;
  --border-color: rgb(0, 0, 0);
  --header-bgc: white;
  --placeholder-color: #808080;
  --cart-borders: rgb(240, 239, 239);
  --review-bgc: white;
}

[dark] {
  --body-bgc: rgb(36, 36, 36);
  --font-color: rgb(201, 201, 201);
  --border-color: rgb(255, 255, 255);
  --header-bgc: rgb(24, 24, 24);
  --placeholder-color: rgb(201, 201, 201);
  --cart-borders: #333;
  --review-bgc: rgb(90, 90, 90);
}

html,
body {
  width: 100%;
  height: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.renderContentBox {
  display: flex;
}
