<div class="d-flex flex-column h-100" role="button" [routerLink]="'/product/' + product!.docId">
  <div [style]="'display: flex; min-height: ' + cardMinHeight + 'px'">
    <app-image-slider
      [isShowDot]="false"
      [slides]="product!.image_url"
      [style]="'flex: 1 1 ' + cardMinHeight + 'px'"></app-image-slider>
  </div>
  <div class="mt-2 d-flex flex-column flex-grow-1 justify-content-between">
    <div class="d-flex flex-grow-1 flex-column justify-content-between text-uppercase">
      <h5 class="textOfCard__title fw-bolder">{{ product?.name }}</h5>
      <h6 class="textOfCard__subtitle">{{ product?.price | currency : product?.currency }}</h6>
    </div>
  </div>
</div>
